binds {
  Mod+Left { focus-column-left; }
  Mod+WheelScrollLeft { focus-column-left; }

  Mod+Right { focus-column-right; }
  Mod+WheelScrollRight { focus-column-right; }

  Mod+MouseMiddle { close-window; }

  Mod+T repeat=false { spawn "alacritty"; }
  Super+Alt+L repeat=false { spawn "swaylock"; }
}
